{{#each spendItems}}
<tr data-id="{{_id}}" class="hover cursor-pointer" onclick="toggleDetailsRow('{{_id}}', this)">
    <td>{{formatDate date 'DD/MM/YYYY' 'YYYY-MM-DD'}}</td>
    <td>{{name}}</td>
    <td>{{formatCurrency price}}</td>
    <td>
        <i class="fa-sharp fa-regular fa-chevron-down" id="icon-{{_id}}"></i>
    </td>
</tr>
<tr id="details-row-{{_id}}" class="hidden">
    <td colspan="2">
        <p>{{details}}</p>
    </td>
    <td colspan="2" class="text-center">
        <div class="flex justify-between gap-1">
            <button class="btn btn-info btn-sm flex-1/2" onclick="openModalSpendItem('update', '{{_id}}')">{{t
                'button.edit'}}</button>
            <button class="btn btn-error btn-sm flex-1/2" onclick="deleteSpendItem('{{_id}}')">{{t
                'button.delete'}}</button>
        </div>
    </td>
</tr>
{{/each}}