<div class="flex m-4 gap-2">
    <div id="select_spendList" class="select w-full">
        <span class="select-value"></span>
        <ul class="max-h-60"></ul>
    </div>

    <button class="btn btn-active" onclick="openModalSpendList('create')">
        <i class="fa-sharp fa-plus"></i> {{t "spend.button.create.list"}}
    </button>
</div>

{{!-- Search --}}
<div class="flex m-4 gap-2">
    <label for="input_spendItem_search_date" class="relative">
        <input id="input_spendItem_search_date" type="date" class="input" style="width: 42px;">
        <i class="fa-sharp fa-regular fa-calendar absolute right-[14px] top-[50%] translate-y-[-50%]"></i>
    </label>

    <label class="input flex items-center gap-2 flex-1">
        <input id="input_spendItem_search" type="text" class="grow" placeholder="{{t 'spend.search.placeholder'}}" />
        <i class="fa-sharp fa-regular fa-magnifying-glass opacity-70"></i>
    </label>
</div>


<div class="flex m-4 justify-between">
    {{!-- Create --}}
    <button class="btn btn-accent" onclick="openModalSpendItem('create')">
        <i class="fa-sharp fa-plus"></i> {{t 'spend.button.create.item'}}
    </button>

    {{!-- Sort --}}
    <label class="flex items-center gap-2">
        <span>{{t 'spend.sort.title'}}</span>
        <div id="select_spendItem_sort" class="select w-28">
            <span class="select-value"></span>
            <ul>
                <li data-value="date">{{t 'spend.table.col.date'}}</li>
                <li data-value="name">{{t 'spend.table.col.name'}}</li>
                <li data-value="price">{{t 'spend.table.col.price'}}</li>
            </ul>
        </div>
    </label>
</div>

{{!-- Table SpendItem --}}
<div id="table_spendItem_wrapper" class="overflow-x-auto bg-base-100 rounded-box shadow-sm m-4 h-[calc(100vh-310px)]">
    <table id="table_spendItem" class="table table-pin-rows">
        <thead>
            <tr>
                <th class="text-base-content">{{t 'spend.table.col.date'}}</th>
                <th class="text-base-content">{{t 'spend.table.col.name'}}</th>
                <th class="text-base-content">{{t 'spend.table.col.price'}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{!-- Render template --}}
        </tbody>
    </table>
</div>

<!-- Modal Create or Update SpendList -->
<dialog id="modal_spendList" class="modal">
    <div class="modal-box ">
        <h3 class="text-lg font-bold mb-3">placeholder....</h3>
        <label class="input flex items-center gap-2 mb-3">
            <i class="fa-sharp fa-solid fa-list opacity-70"></i>
            <input id="input_name" type="text" class="grow" placeholder="{{t 'spend.modal.spendList.placeholder'}}" />
        </label>

        <div class="flex justify-end gap-3">
            <form method="dialog">
                <button class="btn btn-circle btn-ghost absolute right-2 top-2">✕</button>
                <button class="btn w-20">{{t 'button.close'}}</button>
            </form>

            <button id="btn_create" class="btn btn-success w-20">{{t 'button.save'}}</button>
            <button id="btn_delete" class="btn btn-error w-20">{{t 'button.delete'}}</button>
            <button id="btn_update" class="btn btn-success w-20">{{t 'button.save'}}</button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop"><button></button></form>
</dialog>

<!-- Modal Create SpendItem -->
<dialog id="modal_spendItem" class="modal">
    <div class="modal-box overflow-y-visible">
        <h3 class="text-lg font-bold mb-3">placeholder....</h3>

        <div class="flex gap-3 mb-3">
            <input id="input_spendItem_id" type="text" class="input hidden" placeholder="Id">

            <label id="combobox_spendItem_name" class="combobox w-[55%]">
                <input type="text" class="input w-full" placeholder="Tên khoản chi">
                <i class="fa-sharp fa-regular fa-angles-up-down right-[5%!important] text-xs"></i>
                <ul class="max-h-52"></ul>
            </label>

            <label class="relative w-[45%]">
                <input id="input_spendItem_date" type="date" class="input w-full" placeholder="Thời gian" />
                <i class="fa-sharp fa-regular fa-calendar absolute right-[10%] top-[50%] translate-y-[-50%]"></i>
            </label>
        </div>

        <div class="flex gap-3 mb-3">
            <input id="input_spendItem_price" type="text" class="input w-[45%]" placeholder="Số tiền"
                oninput="this.value = formatCurrency(this.value, false)">
            <input id="input_spendItem_info" type="text" class="input w-[55%]" placeholder="Thông tin thêm">
        </div>

        <div class="flex justify-end gap-3">
            <form method="dialog">
                <button class="btn btn-circle btn-ghost absolute right-2 top-2">✕</button>
                <button class="btn w-20">{{t 'button.close'}}</button>
            </form>

            <button id="btn_create" class="btn btn-success w-20">{{t 'button.save'}}</button>
            <button id="btn_update" class="btn btn-success w-20">{{t 'button.save'}}</button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>